{% extends "admin/base.html" %} 
{% load static %}
{% load i18n %} 
{% load i18n_switcher %} 

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}" />
{% endblock %} 

{% block userlinks %}
    <a href="{{ request|switch_i18n:'en' }}" style="font-size: 1rem"> 🇺🇸 </a>
    /
    <a href="{{ request|switch_i18n:'th' }}" style="font-size: 1rem"> 🇹🇭 </a>
    
    {% if site_url %}
        <a href="{{ site_url }}">{% translate 'View site' %}</a> / 
    {% endif %} 
    
    {% if user.is_active and user.is_admin %} 
        {% url 'django-admindocs-docroot' as docsroot %} 
        {% if docsroot %}
            <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> / 
        {% endif %} 
    {% endif %} 
    
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> / 
    {% endif %}

    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
        {% csrf_token %}
        <button type="submit" class="logout-btn">{% translate 'Log out' %}</button>
    </form>
{% endblock %}

<!-- https://automationpanda.com/2018/04/21/django-admin-translations/ -->
<!-- https://stackoverflow.com/questions/40686201/django-1-10-1-my-templatetag-is-not-a-registered-tag-library-must-be-one-of -->
<!-- https://stackoverflow.com/questions/21469470/how-can-i-change-django-admin-language -->
<!-- https://stackoverflow.com/questions/6583877/how-to-override-and-extend-basic-django-admin-templates -->